body {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #757575;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.mainButton:hover,
.mainButton:focus {
  color: #2196f3;
}
.mainButton {
  cursor: pointer;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875em;
  color: #ffffff;
}
.color {
  background: #2f303a;
}
a {
  text-decoration: none;
}
.menu {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142em;
  letter-spacing: 0.02em;
  color: #212121;
}
.menu:focus,
.menu:hover {
  color: #2196f3;
}
.contaktsLinks {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142em;
  letter-spacing: 0.02em;
  color: #757575;
}
.contaktsLinks:focus,
.contaktsLinks:hover {
  color: #2196f3;
}
.text {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363em;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.142em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.work_title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.166em;
  letter-spacing: 0.03em;
  color: #212121;
}
.team {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187em;
  letter-spacing: 0.03em;
  color: #212121;
}
.teamCard {
  font-size: 16px;
  line-height: 1.187em;
  letter-spacing: 0.03em;
}
.group {
  font-weight: bold;
  font-size: 18px;
  line-height: 2em;
  letter-spacing: 0.06em;
  color: #212121;
}
.groupName {
  font-size: 16px;
  line-height: 1.875em;
  letter-spacing: 0.03em;
  color: #757575;
}
.listMenu:hover,
.listMenu:focus {
  background: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: rgb(29, 25, 25);
}
.listMenu {
  width: 128px;
  height: 38px;
  left: 576px;
  top: 174px;
  background: #f5f4fa;
  border-radius: 4px;
}
.logo {
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192em;
  letter-spacing: 0.03em;
  color: #2196f3;
}
.logoStudio {
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192em;
  letter-spacing: 0.03em;
  color: #212121;
}
.logoFooter {
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192em;
  letter-spacing: 0.03em;
  color: white;
}
.address {
  font-size: 14px;
  line-height: 1.714em;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.contakts:hover,
.contakts:focus {
  color: #2196f3;
}
.contakts {
  font-size: 14px;
  line-height: 1.714em;
  letter-spacing: 0.03em;
  color: #ffffff;
}
